*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}


body{
    font-family:'Roboto', sans-serif ;
}

html{
    scroll-behavior: smooth;
}
header{
    position: sticky;
    top: 0;
    z-index: 2;
}
.nav{
    background-color: #181818;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right:2vw ;
}


.nav-list a {
    text-decoration: none;
    color: #ddd;
    padding: 2vw;
}


.nav-list a:hover{
    color: #ffffff;
}


.main{
    width: 100%;
    background-color: black;
    height: calc(100vh - 80px);
    background-image: url("images/programador.png");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 10%;
}


.main h1{
    color: #ffffff;
    font-size: 54px;
}
.main p{
    color: #1e96fc;
    font-size: 24px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 35px;
}

.call-to-action{
    cursor: pointer;
    border: 0;
    background-color: #FFFFFF;
    padding: 14px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;

    transition: 0.9s;


}
.call-to-action:hover{
    transform: scale(1.2);
}
.main a{
    text-decoration: none;
    color: #181818;
}


.about{
    background-color: #FFFFFF;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom:80px ;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.about div{
    max-width: 50%;
    padding-right: 40px;
}

.about img{
    max-width: 450px;
    border-radius: 10px;
}


.about div h2{
    font-size:32px ;
    margin-bottom: 14px;
}



.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}
.projects h2{
    font-size: 32px;
    margin-bottom: 8px;
    margin-top: 20px;
}

.projects p{
    margin-bottom: 40px;
    font-style: italic;
}

.project-list{
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-list img{
    width: 22%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    opacity: 0.7;
    transition: 0.9s;

}

.project-list img:hover{
    opacity: 1;
}


.action{
    background-color: #181818;
    border: 0;
    border-radius: 10px;
    padding: 12px 24px;
    margin-top: 20px;
    font-size: 18px;
    color:#FFFFFF ;
    cursor: pointer;
}

footer{
    width: 100%;
    background-color: #181818;
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
footer a{
    text-decoration: none;
    color: #FFFFFF;
}

footer p{
    margin-left: 20px;
}

/* Resposividade */
@media (max-width:1050px) {
    .main h1{
        font-size: 45px
    }

    .main p{
        font-size:18px ;
    }


    .about{
        flex-direction: column;
        padding-top: 80px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .about div{
        max-width: 80%;
    }

    .about div h2{
        font-size: 45px;
    }

    .about img{
        width: 80%;
        margin-top: 30px
    }

    .projects img{
        width: 27%;
    }


    footer{
        flex-direction: column;
        
    }
    footer h3{
        font-size: 24px;
        margin-bottom: 10px;
    }

    footer p {
        margin: 0;
    }
}